# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Dataset
dataset/*

# Keep folder structure
!dataset/.gitkeep

# Trained Models
models/saved_models/
models/checkpoints/

# Uploaded Images
frontend/uploads/

# VS Code
.vscode/

# Windows
Thumbs.db
