# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Dataset
dataset/*

# Keep folder structure
!dataset/.gitkeep

# Trained Models
models/saved_models/
models/checkpoints/
models/*.keras
models/invalid_*.keras
models/invalid_*.txt

# Uploaded Images
frontend/uploads/
static/uploads/

# Evaluation warning logs
evaluation-warnings*.txt

# VS Code
.vscode/

# Windows
Thumbs.db
