# =====================================
# Virtual Environment
# =====================================
venv/
.venv/

# =====================================
# Python
# =====================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================
# Jupyter
# =====================================
.ipynb_checkpoints/

# =====================================
# Environment Variables
# =====================================
.env

# =====================================
# Dataset
# =====================================
dataset/*
!dataset/.gitkeep

# =====================================
# Trained Models
# =====================================
models/
!models/.gitkeep

# =====================================
# Uploaded Images
# =====================================
frontend/uploads/

# =====================================
# Logs
# =====================================
logs/
*.log

# =====================================
# TensorBoard
# =====================================
runs/
tensorboard/

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# Windows
# =====================================
Thumbs.db
Desktop.ini

# =====================================
# macOS
# =====================================
.DS_Store